.test.ant-input {
  margin-top: 10px;
}

.paddingName.ant-descriptions-item-content {
  padding-top: 24px;
  padding-bottom: 0px;
}

.paddingEmail.ant-descriptions-item-content {
  padding-top: 23px;
  padding-bottom: 0px;
}

.paddingAge.ant-descriptions-item-content {
  padding-top: 22px;
  padding-bottom: 0px;
}
